<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="SSOSettings">
      <section name="Settings" type="Nestle.Internet.SSO.Client.Helper.SettingHandler"/>
      <section name="RSAKey" type="Nestle.Internet.SSO.Client.Helper.SettingHandler"/>
    </sectionGroup>
  </configSections>
  <SSOSettings>
    <Settings>
      <add key="EightLetterKey" value="*p^|1lMs"/>
      <add key="SiteGuid" value="8254b6af-0ae6-4819-9579-90428aedc7b2"/>
      <add key="SSOSiteUrl" value="https://sso2.nestlechinese.com/"/>
      <add key="CheckTokenUrl" value="https://sso2.nestlechinese.com/"/>
      <add key="ProxyIP" value=""/>
      <add key="IsNestleIntranet" value="false"/>
      <add key="EnableRememberMe" value="true"/>
    </Settings>
    <RSAKey>
      <RSAKeyValue>
        <Modulus>2B/bn04J3yiSIzA+PDUIHg61dv0yNO+EGTegT7yQ9ubzpVuDgvbwOAP68pk8JkG7oerr9yq+apoDFPb8BAoemWEQRCb9+SAAEADrC71h8xm29PVPHinPD5PVwdidnEia3FV1V2XeRx13O7hAt9xyNUj2Rgnj4nDUcLstCgKVSXE=</Modulus>
        <Exponent>AQAB</Exponent>
        <P>//3CvLiUlt14IanwpZfNVKVrUJfQpCJfFOMrIzYBdR+MstxGSup9iv2SgDjE+qBzydMp+KsTJpw6zaLyNRoBuw==</P>
        <Q>2CG/m6UKcE9g2+yoiKUfmGM1ALoiSe89Yau4RH6Ng/uZBTiCvCONkk/ShE86ZQpJSJnNfLm9q1WQr5s4exZoww==</Q>
        <DP>kLMrQawAaerUPgsmeSP+r8s1hv/Zsv2uy0rBloyvdDoaOPwkS7KStl8xUYNFbPoHmVzgi6yADcIfxx9FU9jYgw==</DP>
        <DQ>MAev8QLIQxUgzT7WZSds0gyZ5sN2gz+rQF1M4cvN3xq2craQNwcfmvgqLET/ER0sE/o59BHC2KR3Ns8jyha8yQ==</DQ>
        <InverseQ>5EnAsg/vmeJ3blKy+fUudKkfr24fII17zo8a+tkoGnyg+W+oG9v9EkJSrUL8okacENsSm2SdvQ7TQxtDahS7Uw==</InverseQ>
        <D>jPLx84ocjApUjFhpLjDT0256UFi+hqFyQFPz3Cy5ShzC56OwOBg9//owjkj7XmPeL7IbI/4fYzyAKAsPvr6uxtsLUQolr7yi+yzTxUavucAoDZFJigmS+2Erl+SBSSoAu6MVlqQlIAxnPNvG66KNIExI7hOQb3h0jZm/kKuWl4U=</D>
      </RSAKeyValue>
    </RSAKey>
  </SSOSettings>
  <connectionStrings>
   <!--测试1111d-->
   
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CultureName" value="zh-CHS"/>
    <add key="uploads" value="uploads"/>
    <add key="PageSize" value="20"/>
    <add key="UploadFileType" value=".png,.jpg,.jpeg,.bmp,.gif,.pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.xlsm,.msg,.zip,.txt"/>
    <add key="WorkFlowServer" value="http://localhost:57044/"/>
    <add key="SiteName" value="SKURegistration"/>
    <add key="SiteGuid" value="6cb9ff27-89e2-4ab6-8407-64a6aebea3bb"/>
    <add key="AdminEmail" value="Sharon.Lv@cn.nestle.com"/>
    <add key="Debug" value="false"/>
    <add key="Language" value="English"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2097151" maxQueryStringLength="2097151"/>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Forms"/>
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {61F5BA3E-3276-4C11-9D14-E20A2F812DAC}-->