@using MVC4Pager;
@using WF.Model;
@model PagedList<WF.Model.ProjectRequirement>
@{
    ViewBag.Title = "ProjectRequirement List";
}

<div class="listClass">
    <div id="searchDiv">
    <input id="keyword" type="text" class="keyword" style="width:130px;margin-right:10px;float:left;margin-top:3px;"/>
    <button style="float:left;" type="button" class="button" onmousedown="this.className='buttonPressed'" onmouseout="this.className='button'" onclick="search(1);">@(Html.Lang("Search"))</button>
    <button style="float:left;margin-left:5px;" type="button" class="button" onmousedown="this.className='buttonPressed'" onmouseout="this.className='button'" onclick="javascript:location.href='@Url.Content("~/Request/ProjectRequirement")';">@(Html.Lang("Add"))</button>
        <button style="float:left;margin-left:5px;"  type="button" class="button" onmousedown="this.className='buttonPressed'"
                onmouseout="this.className = 'button'" onclick="exportCSV(this);">
            Export
        </button>
</div>
<div style="clear:both;"></div>
<hr style="margin:5px auto;"/>
    <div id="searchResult">
        @{ Html.RenderPartial("ProjectRequirementListPartial", Model); }
    </div>
</div>

<script type="text/javascript">
    function exportCSV(obj) {
        $.post(getRootUrl() + "Admin/ExportToCSV", { keyword: $("#keyword").val() }, function (filePath) {
            if (filePath.toLowerCase().indexOf(".csv") > 0) {
                location.href = getRootUrl() + filePath;
            }
            else {
                alert(filePath);
            }
        });
    }
</script>